package layout

templ Base() {
	<html>
		<head>
			<title>My Site</title>
			<link href="./static/output.css" rel="stylesheet"/>
		</head>
		<body class="antialiased text-slate-400 bg-slate-900">
			{ children... }
		</body>
	</html>
}
